<!-- <div class="container">
<ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-material"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    >
</ag-grid-angular>
</div> -->

<div class="animated fadeIn">

    <div class="card">
       <div class="card-header pt-3 pb-0">
          <h5 class="h4">
             Users
          </h5>
       </div>
       <div class="card-body">
          <div class="{{edit?'d-none':''}}">
             <div class="row">
                <div class="col-sm-12" >
                   <button type="button" class="btn btn-primary pull-right form-group" (click)="edit=!edit;isNew=true">
                   <!-- <i class="la la-plus font-1x3"></i> --> Add User</button>
                </div>
               <br/>
             </div>
 
             <ag-grid-angular
             style="height: 390px"
             class="ag-theme-material"
             [rowData]="rowData"
             [columnDefs]="columnDefs"
             [frameworkComponents]="frameworkComponents"
             >
         </ag-grid-angular>
          </div>
          <ng-container *ngTemplateOutlet="registertemplate">
          </ng-container>
 
       </div>
    </div>
 
 </div>
 
 <ng-template #registertemplate>
    <div *ngIf="edit">
       <form [formGroup]="registerForm">
          <div class="row">
             <div class="col-sm-12">
                <h5 class="mb-3">{{isNew?'Add':'Edit'}} User</h5>
             </div>
             <div class="col-md-4">
                <div class="form-group">
                   <label class="d-block required">Name</label>
                   <input type="text" class="form-control" name="name" formControlName="name">
                   <error-message label="Name" [submitted]="submitted" controlName="name">
                   </error-message>
                </div>
             </div>
 
             <div class="col-md-4">
                <div class="form-group">
                   <label class="d-block required">Email</label>
                   <input type="email" class="form-control" name="email" formControlName="email">
                   <error-message label="Email" [submitted]="submitted" controlName="email">
                   </error-message>
                </div>
             </div>
 
             <div class="col-md-4" *ngIf="isNew">
                <div class="form-group">
                   <label class="d-block required">Password</label>
                   <input type="password" class="form-control" name="password" formControlName="password" />
                   <error-message label="Password" [submitted]="submitted" controlName="password">
                   </error-message>
 
                </div>
             </div>
 
             <div class="col-md-4">
                <div class="form-group">
                   <label class="d-block">Role</label>
                   <ng-select [items]="roleType" bindLabel="name" bindValue="value" name="userRole" formControlName="userRole">
                     </ng-select>
                   <!-- <input type="text" class="form-control" name="userRole" formControlName="userRole"> -->
                    <error-message label="Role" [submitted]="submitted" controlName="userRole">
                   </error-message>
                </div>
             </div>
             <!-- <div class="col-md-4">
                <div class="form-group">
                   <label class="d-block">Status</label>
                   <ng-select [items]="statusType" bindLabel="name" bindValue="value" name="status" formControlName="status">
                     </ng-select>
                   <input type="hidden" class="form-control" name="assignedChatCount" value="0" formControlName="assignedChatCount">
                   <error-message label="Status" [submitted]="submitted" controlName="status">
                    </error-message>
                </div>
             </div> -->
             <div class="col-md-12 mt-2" *ngIf="!active">
                <div class="button-group">
                   <button class="btn btn-dark mr-3" (click)="edit=!edit;isNew=false;reset()" type="button">Back</button>
                   <button type="button" (click)="onSubmit()" class="btn btn-success">Submit</button>
                </div>
             </div>
          </div>
       </form>
    </div>
 </ng-template>