<div class="container-fluid" id="main-container">
    <div class="row h-100">
        <div class="col-12 col-sm-5 col-md-4 d-flex flex-column" id="chat-list-area" style="/* position:relative; */">

            <!-- Navbar -->
            <div class="row d-flex flex-row align-items-center p-2" id="navbar">
                <img alt="Profile Photo" class="img-fluid rounded-circle mr-2" style="height:50px; cursor:pointer;"
                    onclick="showProfileSettings()" id="display-pic" src="/assets/images/user-icons/man-0.png">
                <div class="text-white font-weight-bold" id="username">Me</div>
                <div class="nav-item dropdown ml-auto">
                    <a class="nav-link dropdown-toggle" (click)="toggle=!toggle" data-toggle="dropdown"
                        href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-ellipsis-v text-white"></i></a>
                    <div *ngIf="toggle" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                        style="position: absolute; transform: translate3d(38px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">

                        <a class="dropdown-item" href="#" (click)="logout()">Log Out</a>
                    </div>
                </div>
            </div>

            <!-- Chat List -->
            <div class="row" id="chat-list" style="overflow:auto;">
                <div *ngFor="let item of chatbox"
                    class="chat-list-item d-flex flex-row w-100 p-2 border-bottom {{item.sender==activatedSender?'active':''}}"
                    (click)="getMessages(item)">
                    <img src="{{item.img}}" alt="Profile Photo" class="img-fluid rounded-circle mr-3"
                        style="height:50px;">
                    <div class="w-50  mt-2">
                        <div class="name">{{item.sender}}</div>
                        <!-- <div class="small last-message">+91 98232 37261: yeah, i'm online</div> -->
                    </div>
                    <div class="flex-grow-1 text-right mt-2">
                        <div class="small time">{{item.listMessage[0].date | date:'dd/MM/yyyy'}}</div>

                        <div *ngIf="item.count && item.count>0" class="badge badge-success badge-pill small"
                            id="unread-count">{{item.count}}</div>
                    </div>
                </div>


            </div>

            <!-- Profile Settings -->
            <div class="d-flex flex-column w-100 h-100" id="profile-settings" style="left: -110%;">
                <!-- <div class="row d-flex flex-row align-items-center p-2 m-0" style="background:#009688; min-height:65px;">
                    <i class="fas fa-arrow-left p-2 mx-3 my-1 text-white" style="font-size: 1.5rem; cursor: pointer;"
                        onclick="hideProfileSettings()"></i>
                    <div class="text-white font-weight-bold">Profile</div>
                </div> -->
                <!-- <div class="d-flex flex-column" style="overflow:auto;">
                    <img alt="Profile Photo" class="img-fluid rounded-circle my-5 justify-self-center mx-auto" id="profile-pic"
                        src="/assets/images/user-icons/man-0.png">
                    <input type="file" id="profile-pic-input" class="d-none">
                    <div class="bg-white px-3 py-2">
                        <div class="text-muted mb-2"><label for="input-name">Your Name</label></div>
                        <input type="text" name="name" id="input-name" class="w-100 border-0 py-2 profile-input">
                    </div>
                    <div class="text-muted p-3 small">
                        This is not your username or pin. This name will be visible to your WhatsApp contacts.
                    </div>
                    <div class="bg-white px-3 py-2">
                        <div class="text-muted mb-2"><label for="input-about">About</label></div>
                        <input type="text" name="name" id="input-about" value="" class="w-100 border-0 py-2 profile-input">
                    </div>
                </div> -->

            </div>
        </div>

        <!-- Message Area -->
        <div class="d-none d-sm-flex flex-column col-12 col-sm-7 col-md-8 p-0 h-100" id="message-area">
            <div class="w-100 h-100 overlay d-none"></div>

            <!-- Navbar -->
            <div class="row d-flex flex-row align-items-center p-2 m-0 w-100" id="navbar">

                <div class="d-block d-sm-none">
                    <i class="fas fa-arrow-left p-2 mr-2 text-white" style="font-size: 1.5rem; cursor: pointer;"></i>
                </div>
                <ng-container *ngIf="messageList.length>0">
                    <img src="{{activatedSenderImg}}" alt="Profile Photo" class="img-fluid rounded-circle mr-2"
                        style="height:50px;" id="pic">
                    <div class="d-flex flex-column">
                        <div class="text-white font-weight-bold" id="name">{{activatedSender}}</div>

                    </div>
                    <div class="d-flex flex-row align-items-center ml-auto">
                        <label class="fileupload"><i class="fas fa-paperclip mx-3 text-white d-none d-md-block"></i>
                            <input #imageInput type="file" class="d-none" accept="image/*"
                                (change)="processFile(imageInput)">
                        </label>
                    </div>
                    <div class="nav-item dropdown mr-5 endchat">
                        <a class="nav-link dropdown-toggle" (click)="entoggle=!entoggle" data-toggle="dropdown"
                            href="javascript:void(0)" role="button" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-ellipsis-v text-white"></i></a>
                        <div *ngIf="entoggle" class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                            style="position: absolute; transform: translate3d(38px, 40px, 0px); top: 0px; left: 0px; will-change: transform;">

                            <a class="dropdown-item" href="javascript:void(0);"
                                (click)="endChat();entoggle=!entoggle">End
                                Chat</a>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- Messages -->
            <div class="d-flex flex-column" id="messages">
                <a class="loadmore" *ngIf="isLoad" href="javascipt:void(0)" (click)="loadMore()">Load More</a>
                <ng-container *ngFor="let item of messageList;let i=index">
                    <label class="date"
                        *ngIf="!checkDate(messageList,i,item.date)">{{item.date | date:'dd/MM/yyyy' }}</label>
                    <div *ngIf="!item.from_me"
                        class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
                        <div class="small font-weight-bold text-primary">
                            {{item.sdr_rcv}}
                        </div>
                        <div class="d-flex flex-row">
                            <div class="body m-1 mr-2">{{item.message}}</div>
                            <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted"
                                style="width:75px;">
                                {{item.date | date:'h:mm a' }}

                            </div>
                        </div>
                    </div>

                    <div *ngIf="item.from_me"
                        class="align-self-end self p-1 my-1 mx-3 rounded bg-white shadow-sm message-item">
                        <div class="d-flex flex-row">
                            <div class="body m-1 mr-2" *ngIf="item.type==='text'">{{item.message}}</div>
                            <div class="body m-1 mr-2" *ngIf="item.type==='image'">
                                <img src="{{item.path}}" width="50px">
                            </div>
                            <div class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted"
                                style="width:75px;">
                                {{item.date |date:'h:mm a' }}
                                <i *ngIf="item.status==='success'" class="fas fa-check-circle"></i>
                                <i *ngIf="item.status==='pending'" class="far fa-square"></i>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- Input -->

            <div id="input-area" *ngIf="messageList.length>0">
                <div class="justify-self-end align-items-center flex-row d-flex " *ngIf="selectedFile">
                    <div class="imgupper" *ngIf="selectedFile">
                        <div class="imginner">
                            <span class="close float-right" (click)="selectedFile=null"><i
                                    class="fa fa-times-circle"></i></span>
                            <img [src]="selectedFile.src" width="50px">
                        </div>
                    </div>
                    <i class="float-right fas fa-paper-plane text-muted px-3" style="cursor:pointer;"
                        (click)="sendMessage('')"></i>
                </div>
                <div *ngIf="!selectedFile" class="justify-self-end align-items-center flex-row d-flex">
                    <a href="javascript:void(0)"><i class="far fa-smile text-muted px-3"
                            style="font-size:1.5rem;"></i></a>
                    <input #inputVal (keyup.enter)="sendMessage(inputVal.value)" type="text" name="message" id="input"
                        placeholder="Type a message" class="flex-grow-1 border-0 px-3 py-2 my-3 rounded shadow-sm">
                    <i class="fas fa-paper-plane text-muted px-3" style="cursor:pointer;"
                        (click)="sendMessage(inputVal.value)"></i>
                </div>

            </div>
        </div>
    </div>
</div>