<div class="container">
    <div class="img">
        <div class="row">
          <div class="mx-auto padding">
            <div class="card card-signin">
              <div class="card-body">
                <h5 class="card-title text-center"><b>LOGIN</b></h5>
                <form [formGroup]="loginForm" class="form-signin" autocomplete="off">
                  <div>
                    <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email address" required autofocus>
                    <error-message label="Email" [submitted]="submitted" controlName="email" ></error-message>
                  </div>
    <br/>
                  <div>
                    <input type="password" name="email" formControlName="password" class="form-control" placeholder="Password" required>
                    <error-message label="Password" [submitted]="submitted" controlName="password" ></error-message>
                  </div>
    <br/>
                  <button class="btn btn-lg loginBtn btn-block text-uppercase" type="button" (click)="onSubmit()">Sign in</button>
                  <hr class="my-4">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>