<app-header></app-header>
<div class="container-fluid margin">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/admin/dashboard" (click)="selected(1)" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/chat" (click)="selected(2)" href="#">
                                <i class="far fa-comments"></i>
                            Chats
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/register" (click)="selected(3)" href="#">
                                <i class="fas fa-user-plus"></i>
                            Add User
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" (click)="selected(4)" href="#">
                                <i class="fas fa-cogs"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>