<app-header></app-header>
<div class="container-fluid margin bg">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-white sidebar shadow">
                <br/>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/admin/dashboard" (click)="selected(1)" href="#">
                                <i class="fas fa-tachometer-alt"></i>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" routerLink="/chat" (click)="selected(2)" href="#">
                                <i class="far fa-comments"></i>
                            Chats
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/register" (click)="selected(2)" href="#">
                                <i class="fas fa-users"></i>
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" routerLink="/admin/botmenu" (click)="selected(3)" href="#">
                                <i class="fab fa-android"></i>
                                Bot Menu
                            </a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink="/admin/contacts" (click)="selected(4)" href="#">
                                    <i class="fab fa-android"></i>
                                    Contacts
                                </a>
                            </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admin/settings" (click)="selected(5)" href="#">
                                <i class="fas fa-cogs"></i>
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <app-notify></app-notify>
            <router-outlet></router-outlet>
            <app-confirm-dialog></app-confirm-dialog>
        </div>
    </div>

</div>