.margin {
    margin-top: 80px;
}

.nav-link {
    font-size: 13px;
    padding: 1.0rem 1.5rem;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    min-height: 570px;
}

.nav-link:hover {
    color: #007bff;
}